<div class="page-title center">
  <h4>Создать календарь</h4>
</div>

<div class="row">
  <form
    class="col m12 card"
    #calendarForm="ngForm"
    (submit)="onSubmit()"
  >
    <div class="card-content container">

      <div class="input-field">
        <input
          id="title"
          type="text"
          name="title"
          #calendarTitle="ngModel"
          [(ngModel)]="title"
          [ngClass]="{'invalid': calendarTitle.invalid && calendarTitle.touched}"
          required
        >
        <label for="title">Название календаря</label>
      </div>

      <div class="input-field">
        <input
          id="year"
          type="number"
          name="year"
          #calendarYear="ngModel"
          [(ngModel)]="year"
          [ngClass]="{'invalid': calendarYear.invalid && calendarYear.touched}"
          required
          min="2021"
        >
        <label for="year">Год</label>
      </div>

      <div class="input-field">
          <textarea
            id="description"
            type="text"
            class="materialize-textarea"
            name="description"
            #calendarDescription="ngModel"
            [(ngModel)]="description"
            [ngClass]="{'invalid': calendarDescription.invalid && calendarDescription.touched}"
            rows="3"
            required
          ></textarea>
        <label for="description">Для чего этот календарь</label>
      </div>

      <div class="input-field center">
        <div>
          <label>
            Тип легенды вашего календаря: {{ legendType }}
          </label>
        </div>
        <button
          type="button"
          class="btn btn-small ma1"
          (click)="legendType = 'с картинками'"
        >
          С картинками
        </button>
        <div
          type="button"
          class="btn btn-small ma1"
          (click)="legendType = 'цветная'"
        >
          Цветная
        </div>
      </div>

      <div class="center">
        <button
          class="btn btn-primary teal darken-3"
          type="submit"
          [disabled]="calendarForm.invalid || !legendType"
        >
          Создать
        </button>
      </div>

    </div>
  </form>
</div>
