<div class="page-title center">
  <h4>Календари</h4>
</div>

<div class="row">
  <div class="col m12" *ngIf="!pending; else loader">
    <table
      class="responsive-table bordered centered"
      *ngIf="calendars.length > 0; else noCalendars"
    >
      <thead>
      <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Год</th>
        <th>Тип легенды</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let calendar of calendars">
        <td *ngIf="calendar.legends.length > 0">
          <a routerLink="/calendar/{{calendar._id}}">
            {{calendar.title}}
          </a>
        </td>
        <td *ngIf="calendar.legends.length == 0">
          <a
            routerLink="/calendar/{{calendar._id}}/add-color-legend"
            *ngIf="calendar.legendType == 'цветная'"
          >
            {{calendar.title}}
          </a>
          <a
            routerLink="/calendar/{{calendar._id}}/add-image-legend"
            *ngIf="calendar.legendType == 'с картинками'"
          >
            {{calendar.title}}
          </a>
        </td>
        <td [title]="calendar.description">
          {{calendar.description.length > 15
            ? calendar.description.slice(0, 15)+ '...'
            : calendar.description
          }}
        </td>
        <td>{{calendar.year}}</td>
        <td>{{calendar.legendType}}</td>
        <td>
          <button
            class="btn btn-small"
          >
            <i class="material-icons" routerLink="/statistics">visibility</i>
          </button>
        </td>
        <td>
          <button
            class="btn btn-small"
          >
            <i class="material-icons"
               routerLink="/calendar/{{calendar._id}}/add-color-legend"
               *ngIf="calendar.legendType == 'цветная'"
            >
              edit
            </i>
            <i class="material-icons"
               routerLink="/calendar/{{calendar._id}}/add-image-legend"
               *ngIf="calendar.legendType == 'с картинками'"
            >
              edit
            </i>
          </button>
        </td>
        <td>
          <button
            class="btn btn-small red"
            (click)="onDeleteCalendar(calendar._id)"
          >
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #loader>
  <div class="center">
    <app-loader></app-loader>
  </div>
</ng-template>

<ng-template #noCalendars>
  <div class="center">
    У вас еще нет календарей.
    <div class="p2">
      <div
        class="btn btn-small"
        routerLink="/create-calendar"
      >
        Создайте
      </div>
      свой первый календарь!
    </div>

  </div>
</ng-template>





