<h4 class="center">Теперь вы можете выбрать цвет легенды и дать ей описание</h4>

<form
  class="card"
  #legendForm="ngForm"
  (submit)="onSubmit()"
>
  <div class="card-content">
    <div class="row">
      <div class="col m12">
        <h5 class="card-title">Выберите цвет</h5>
        <div *ngFor="let color of colors" class="color-row">
          <div
            class="legend-cell btn btn-small"
            style="background-color: {{color}}"
            (click)="onColorClick(color)"
          ></div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="selectedColor">
      <div class="col m12">
        Вы выбрали:
        <div
          class="legend-cell btn btn-small"
          style="background-color: {{selectedColor}}"
        ></div>
      </div>
    </div>

    <div class="input-field" *ngIf="selectedColor">
      <input
        id="text"
        type="text"
        name="text"
        [ngClass]="{'invalid': textField.invalid && textField.touched}"
        #textField="ngModel"
        [(ngModel)]="text"
        required
      >
      <label for="text">Описание:</label>
    </div>

    <div class="input-field">
      <button
        class="btn"
        [disabled]="!selectedColor || legendForm.invalid"
      >
        Добавить легенду
      </button>
    </div>
  </div>
</form>

<div *ngIf="calendar && calendar.legends">
  <h5 class="center p3">Добавленные легенды</h5>
  <table class="striped ">
    <tbody>
    <tr  *ngFor="let legend of calendar.legends">
      <td style="width: 10%">
        <div class="col s1">
          <div class="legend-cell" style="background-color: {{legend.color}}"></div>
        </div>
      </td>
      <td style="width: 20%">
        <div>{{legend.text}}</div>
      </td>
      <td>
        <button class="btn btn-small red">x</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div>

</div>


